.vs
out
build
*.sf2
!TimGM6mb.sf2
nul
# Ignore all Environment subdirectories except whitelisted ones
Environment/*
!Environment/Soloud/
!Environment/zlib/
!Environment/libevent/
!Environment/glfw/
!Environment/imgui/
!Environment/spdlog/

MyApplication/app/release/*
MyApplication/app/src/main/assets/*
MyApplication/Key123456
